[paths]
source =
   src
   */site-packages

[run]
branch = True
omit = 
    */tests/*
    */test_*

source = pyhscodes

[report]
exclude_lines = 
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
