
dist
report.xml
htmlcov
.coverage
.tox
*.egg-info
*.pyc
*.swp
.Python
.installed.cfg
bin
develop-eggs
eggs
include
lib
parts
*.sublime-workspace
pycountry.xcodeproj
pip-selfcheck.json
index.html
.cache
.pytest_cache
pyvenv.cfg
