[buildout]
develop = .
parts = test scripts data

[test]
recipe = zc.recipe.testrunner
eggs = pycountry
defaults = ['-vv', '--all', '--color']

[scripts]
recipe = zc.recipe.egg
eggs = pycountry
interpreter = py

[data]
recipe = zerokspot.recipe.git
repository = git://git.debian.org/git/iso-codes/iso-codes.git
# Release iso-codes/3.39
rev = 5e40ba5f5b37c8050759bcdb08031b30082e964b
