[buildout]
develop = .
parts = test scripts data

[test]
recipe = zc.recipe.testrunner
eggs = pycountry
defaults = ['-vv', '--all', '--color']

[scripts]
recipe = zc.recipe.egg
eggs = pycountry
interpreter = py

[data]
recipe = zerokspot.recipe.git
repository = git://git.debian.org/git/iso-codes/iso-codes.git
# Release iso-codes/3.37
rev = 470c96f60375370f71567b6ecb08605415090ccc
